rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
  
    // Allow anyone to read public files, like avatars and post images
    match /upload/{path=**} {
      allow read;
    }

    // Allow an authenticated user to write ONLY to their own avatar directory
    match /upload/avatars/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow an authenticated user to write ONLY to their own posts directory
    match /upload/posts/{userId}/{allPaths=**} {
       allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow an authenticated user to write ONLY to their own videos directory
    match /upload/videos/{userId}/{allPaths=**} {
       allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow an authenticated user to write ONLY to their own DM media directory
    match /dms/{chatId}/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
