rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Genel Kural: Varsayılan olarak tüm okuma ve yazma işlemlerini reddet.
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // Kullanıcı Avatarları
    // Kullanıcılar sadece kendi avatarlarını (kendi UID'leri altındaki) yazabilirler.
    // Herkes avatarları okuyabilir.
    match /avatars/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Gönderi Medyası (Resimler, Videolar)
    // Sadece giriş yapmış kullanıcılar 'upload/' klasörüne dosya yükleyebilir.
    // Herkes gönderi medyalarını okuyabilir.
    match /upload/{allPaths=**} {
        allow read: if true;
        allow write: if request.auth != null;
    }
    
    // DM Medyası (Resimler, Sesli Mesajlar)
    // Sadece sohbetin katılımcıları ilgili sohbetin klasörüne dosya yükleyebilir, okuyabilir ve silebilir.
    match /dm_uploads/{chatId}/{allPaths=**} {
        allow read, write, delete: if request.auth != null && exists(/databases/$(database)/documents/directMessagesMetadata/$(chatId)) && request.auth.uid in get(/databases/$(database)/documents/directMessagesMetadata/$(chatId)).data.participantUids;
    }
    
    // Oda Müziği
    // Sadece giriş yapmış kullanıcılar müzik yükleyebilir.
    match /music/{roomId}/{allPaths=**} {
        allow read: if true;
        allow write: if request.auth != null;
    }
  }
}
