
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }
 
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 0 0% 2.5%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 2%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 8%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 8%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 8%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 8%;
    --input: 0 0% 8%;
    --ring: 217.2 91.2% 59.8%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: contain;
  }
  .auth-bg {
    background: linear-gradient(-45deg, #ef4444, #dc2626, #3b82f6, #2563eb);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }

  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}

.event-room-bg {
    background-image:
        radial-gradient(at 27% 37%, hsla(215,98%,61%,0.4) 0px, transparent 50%),
        radial-gradient(at 97% 21%, hsla(125,98%,72%,0.4) 0px, transparent 50%),
        radial-gradient(at 52% 99%, hsla(355,98%,76%,0.4) 0px, transparent 50%),
        radial-gradient(at 10% 29%, hsla(256,96%,68%,0.4) 0px, transparent 50%),
        radial-gradient(at 97% 96%, hsla(38,98%,70%,0.4) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222,97%,71%,0.4) 0px, transparent 50%),
        radial-gradient(at 79% 53%, hsla(343,98%,74%,0.4) 0px, transparent 50%);
    background-size: 100% 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

